footer {
  height: 84px;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid #0d47a1;
}
section:last-of-type {
  padding-bottom: 116px;
}
.split-footer {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}
.split-footer div {
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  margin-top: 12px;
  min-width: 176px;
  flex: 1 0 0;
}
.split-footer div a.button {
  flex: 0 0 auto;
}
.split-footer div:not(:last-child) {
  border-right: 2px solid #0d47a1;
}
.split-footer .block_ul {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1000px) {
  .split-footer div:first-child {
    justify-content: flex-start;
  }
  .split-footer div:last-child {
    justify-content: flex-end;
  }
}
@media screen and (max-width: 999px) {
  footer {
    height: 168px;
  }
  section:last-of-type {
    padding-bottom: 200px;
  }
  .split-footer > div {
    height: 144px;
  }
  .split-footer > .footer-buttons {
    flex-direction: column;
  }
}
@media screen and (max-width: 417px) {
  .split-footer > div {
    height: initial;
    min-width: 176px;
  }
  footer {
    height: 252px;
  }
  section:last-of-type {
    padding-bottom: 284px;
  }
  .split-footer > div:not(:last-child) {
    border-right: 2px solid transparent;
  }
}
#carrousel {
  position: relative;
  border-bottom: 2px solid #0d47a1;
  text-align: center;
  height: 400px;
}
#carrousel > .background {
  position: absolute;
  z-index: -1;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
#carrousel .foto {
  width: 1000px;
  height: 400px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex: 0 0 auto;
  background-position: 50%;
  transition: width 0.8s;
}
@media screen and (max-width: 417px) {
  #carrousel .foto {
    transition: width 0.4s;
  }
}
#carrousel .foto:first-child {
  width: 0px;
}
#carrousel .foto:nth-child(n+7) {
  width: 0px;
}
#carrousel > form {
  position: absolute;
  width: 100%;
  bottom: 24px;
  text-align: center;
  line-height: 40px;
}
#carrousel > form span.select:after {
  margin-top: -6px;
}
html {
  height: 100%;
}
body {
  position: relative;
  font-family: 'Sanchez';
  margin: 0;
  padding: 0;
  min-height: 100%;
}
header {
  width: 100%;
  height: 48px;
  top: 0px;
  background-color: #0d47a1;
  color: white;
  padding: 8px 0;
  line-height: 48px;
}
#header-shadow {
  position: absolute;
  top: 64px;
  width: 100%;
  height: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0));
}
nav#header-links {
  float: right;
  margin-right: 16px;
}
@media screen and (max-width: 699px) {
  nav#header-links {
    display: none;
  }
}
nav#header-links a,
nav#header-links a:visited {
  margin: 0 8px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
nav#header-links a:hover {
  color: #82b1ff;
}
h2 {
  font-size: 32px;
  color: #0d47a1;
}
h3 {
  color: #0d47a1;
}
a,
a:visited {
  color: #0d47a1;
  text-decoration: none;
}
a:hover {
  color: #82b1ff;
}
.page-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
header > .page-wrapper {
  height: 48px;
}
#header-icon {
  float: left;
  margin: 0 16px;
  width: 48px;
  height: 48px;
}
#header-title {
  float: left;
  font-size: 32px;
  line-height: 48px;
}
#hamburger-icon {
  float: right;
  cursor: pointer;
  margin: 0 16px;
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 700px) {
  #hamburger-icon {
    display: none;
  }
}
input,
select {
  height: 28px;
  border-radius: 16px;
  border: 2px solid #0d47a1;
  margin: 0;
  width: 124px;
  font-size: 16px;
  padding-left: 5px;
  outline-color: transparent;
  outline-style: none;
  color: #0d47a1;
  background-color: white;
}
option {
  background-color: white;
}
input:hover,
select:hover {
  background-color: #82b1ff;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  height: 32px;
  width: 132px;
  padding-left: 10px;
  font-family: 'Sanchez';
}
span.select {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
span.select:after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 8px;
  top: 50%;
  margin-top: -3px;
  height: 0;
  width: 0;
  border-top: 6px solid #0d47a1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
}
button {
  height: 32px;
  width: 132px;
  vertical-align: top;
  border-radius: 16px;
  background-color: white;
  border: 2px solid #0d47a1;
  color: #0d47a1;
  font-size: 16px;
  font-family: 'Sanchez';
}
button:hover {
  background-color: #82b1ff;
}
.actionImage {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 16px 16px;
  border: 2px solid #0d47a1;
  border-radius: 16px;
  overflow: hidden;
}
.actionImage img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.actionImage span {
  visibility: hidden;
  display: inline-flex;
  position: absolute;
  background-color: rgba(13, 71, 161, 0.5);
  border-radius: 16px;
  font-size: 20px;
  color: white;
  width: 84%;
  height: 84%;
  margin: 8%;
  justify-content: center;
  align-items: center;
}
.actionImage:hover > span {
  visibility: visible;
}
@media (hover: none) {
  .actionImage > span {
    visibility: visible;
    bottom: 0px;
    width: 100%;
    height: 25%;
    margin: 0;
    border-radius: 0;
  }
}
a.button,
a:visited.button {
  display: inline-block;
  background-color: #0d47a1;
  text-align: center;
  border-radius: 16px;
  width: 128px;
  height: 32px;
  line-height: 32px;
  margin: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a.button:hover {
  color: #82b1ff;
}
a.button.facebook,
a.button.facebook:visited {
  background-color: #4267b2;
}
a.button.twitter,
a.button.twitter:visited {
  background-color: #1da1f2;
}
a.button.youtube,
a.button.youtube:visited {
  background-color: #ff0000;
}
a.button.facebook:hover,
a.button.twitter:hover,
a.button.youtube:hover {
  color: rgba(255, 255, 255, 0.75);
}
ul {
  display: inline-block;
  text-align: left;
}
ul.check {
  list-style-image: url('../img/check-icon.svg');
}
ul.fat-check {
  list-style-image: url('../img/check-fat-icon.svg');
  font-size: 1.1em;
}
ul.fat-check li {
  margin-bottom: 0.4em;
  padding-left: 8px;
}
ul.no-decoration {
  list-style: none;
  padding-left: 0;
}
.contact-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  margin: 50px;
}
.contact-main img {
  position: left;
  height: 180px;
  width: 180px;
  margin: 16px, 16px;
  border: 2px solid #0d47a1;
  border-radius: 16px;
  overflow: hidden;
  margin: 50px;
}
.contact-main .contact-intro {
  align-items: center;
  margin: 50px;
}
.contact-main .contact-intro .contact-intro-header {
  font-size: 32px;
  color: #0d47a1;
  margin-top: 0px;
}
.contact-main .contact-intro .contact-intro-text {
  width: 350px;
}
.contact-main .contact-intro button {
  margin-top: 10px;
}
#dropdown-links {
  position: absolute;
  top: 64px;
  width: 100%;
  border-bottom: 1px solid #0d47a1;
  background-color: #82b1ff;
  z-index: 10;
}
#dropdown-links a {
  display: block;
  text-align: center;
  width: 100%;
  height: 0px;
  line-height: 48px;
  text-decoration: none;
  font-size: 18px;
  overflow: hidden;
  color: #0d47a1;
  font-family: 'Sanchez';
  transition: height 0.25s;
  border-bottom: 0px solid #0d47a1;
}
#dropdown-links.active > a {
  height: 48px;
}
#dropdown-links.active > a:not(:last-child) {
  border-bottom: 1px solid #0d47a1;
}
section {
  text-align: center;
  padding: 16px 16px 48px;
}
section:not(:last-of-type) {
  border-bottom: 2px solid #0d47a1;
}
.image-row-section .row,
.card-section .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.card-section {
  padding: 48px 16px;
}
.row {
  text-align: left;
}
a.row {
  cursor: pointer;
}
.split-text-section {
  padding: 48px 16px;
}
.split-text-section > .row {
  overflow: hidden;
}
.split-text-section > .row div.image-wrapper {
  float: left;
  width: 50%;
}
@media screen and (max-width: 599px) {
  .split-text-section > .row div.image-wrapper {
    display: none;
  }
}
.split-text-section > .row div.image-wrapper .actionImage {
  margin-left: auto;
  margin-right: 92px;
}
@media screen and (min-width: 600px) {
  .split-text-section > .row .description {
    float: right;
    width: 50%;
  }
}
.split-text-section > .row .description h2 {
  margin-bottom: 0;
}
@media screen and (max-width: 599px) {
  .split-text-section > .row .description h2 {
    text-align: center;
  }
}
.object-card,
.object-card:hover,
.object-card:visited {
  border: 2px solid #0d47a1;
  overflow: hidden;
  border-radius: 16px;
  max-width: 400px;
  font-size: 0;
  margin: 16px;
  height: 200px;
  color: black;
}
.object-card .image,
.object-card:hover .image,
.object-card:visited .image,
.object-card .description,
.object-card:hover .description,
.object-card:visited .description {
  max-width: 50%;
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}
.object-card .image,
.object-card:hover .image,
.object-card:visited .image {
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
}
.object-card .image img,
.object-card:hover .image img,
.object-card:visited .image img {
  height: 100%;
}
.object-card .description,
.object-card:hover .description,
.object-card:visited .description {
  font-size: initial;
  box-sizing: border-box;
  padding: 10px;
}
.object-card .description h3,
.object-card:hover .description h3,
.object-card:visited .description h3,
.object-card .description ul,
.object-card:hover .description ul,
.object-card:visited .description ul {
  margin: 8px 0;
}
.object-card .description ul,
.object-card:hover .description ul,
.object-card:visited .description ul {
  height: 140px;
  overflow: hidden;
  display: block;
}
.object-card .description ul.check,
.object-card:hover .description ul.check,
.object-card:visited .description ul.check,
.object-card .description ul.fat-check,
.object-card:hover .description ul.fat-check,
.object-card:visited .description ul.fat-check {
  padding-left: 30px;
}
.object-card .description ul,
.object-card:hover .description ul,
.object-card:visited .description ul {
  margin: 0;
}
.item-detail-wrapper {
  display: flex;
  border: 2px solid #0d47a1;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  overflow: hidden;
  max-width: 900px;
}
@media screen and (min-width: 600px) {
  .item-detail-wrapper {
    height: 400px;
  }
}
@media screen and (max-width: 599px) {
  .item-detail-wrapper {
    flex-wrap: wrap;
  }
}
.item-detail-wrapper .image {
  flex: 1 1 auto;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
}
.item-detail-wrapper .image img {
  object-fit: cover;
  height: 100%;
}
@media screen and (min-width: 600px) {
  .item-detail-wrapper .image {
    min-width: 250px;
  }
}
@media screen and (max-width: 599px) {
  .item-detail-wrapper .image {
    max-height: 300px;
  }
}
.item-detail-wrapper .description {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  text-align: left;
  padding: 16px;
  box-sizing: border-box;
  min-width: 250px;
}
.item-detail-wrapper .description ul.check,
.item-detail-wrapper .description ul.fat-check {
  padding-left: 30px;
}
.item-detail-wrapper .description ul {
  margin: 0;
}
@media screen and (min-width: 600px), screen and (max-width: 374px) {
  .item-detail-wrapper .description {
    flex-direction: column;
  }
}
.item-detail-wrapper .description div {
  margin-bottom: 1.17em;
}
@media screen and (max-width: 599px) and (min-width: 375px) {
  .item-detail-wrapper .description div {
    width: 50%;
    margin-bottom: 64px;
  }
  .item-detail-wrapper .description div:not(:first-child) {
    padding-left: 16px;
  }
}
@media screen and (max-width: 374px) {
  .item-detail-wrapper .description {
    flex-direction: column;
  }
  .item-detail-wrapper .description div:last-of-type {
    margin-bottom: 64px;
  }
}
.item-detail-wrapper .description h3 {
  margin-bottom: 8px;
}
.item-detail-wrapper .description h3:first-child {
  margin-top: 0;
}
.item-detail-wrapper .description a.button {
  position: absolute;
  bottom: 16px;
  margin-left: 50%;
  left: -75px;
}
#search-bar {
  margin: 48px auto;
  max-width: 840px;
}
@media screen and (max-width: 903px) {
  #search-bar {
    max-width: 404px;
    margin: 16px auto;
  }
}
#search-bar > form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4px 16px;
  background-color: #f2f2f2;
  border: 2px solid #0d47a1;
  border-radius: 16px;
}
#search-bar span,
#search-bar button {
  margin: 4px;
}
textarea {
  height: 64px;
  border-radius: 16px;
  border: 2px solid #0d47a1;
  margin: 0;
  width: 248px;
  font-size: 16px;
  padding-left: 5px;
  outline-color: transparent;
  outline-style: none;
  color: #0d47a1;
  background-color: white;
}
