@fontPrimary: 'Sanchez';
@colorPrimary: #0d47a1;
@colorPrimaryLight: #82b1ff;
@colorPrimaryTransparant: rgba(13, 71, 161, 0.5);
@colorAlt: #0da08a;
@colorAltLight: #80ffee;
body {
    margin: 0;
    font-family: @fontPrimary;
}

header {
    width: 100%;
    height: 48px;
    top: 0px;
    background-color: @colorPrimary;
    color: white;
    padding: 8px 0;
    line-height: 48px;
}

#header-shadow {
    position: absolute;
    top: 64px;
    width: 100%;
    height: 4px;
    background: linear-gradient(rgba(0, 0, 0, .28), rgba(0, 0, 0, 0));
}

nav#header-links {
    float: right;
    margin-right: 16px;
    @media screen and (max-width: 699px) {
        display: none;
    }
    a,
    a:visited {
        margin: 0 8px;
        color: white;
        font-size: 20px;
        text-decoration: none;
    }
    a:hover {
        color: @colorPrimaryLight;
    }
}

h2 {
    font-size: 32px;
    color: @colorPrimary;
}

a,
a:visited {
    color: @colorPrimary;
    text-decoration: none;
}

a:hover {
    color: @colorPrimaryLight;
}

.page-wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

header>.page-wrapper {
    height: 48px;
}

#header-icon {
    float: left;
    margin: 0 16px;
    width: 48px;
    height: 48px;
}

#header-title {
    float: left;
    font-size: 32px;
    line-height: 48px;
}

#hamburger-icon {
    float: right;
    cursor: pointer;
    margin: 0 16px;
    width: 48px;
    height: 48px;
    @media screen and (min-width: 700px) {
        display: none;
    }
}

input,
select {
    height: 28px;
    border-radius: 16px;
    border: 2px solid @colorPrimary;
    margin: 0;
    width: 124px;
    font-size: 16px;
    padding-left: 5px;
    outline-color: transparent;
    outline-style: none;
    color: @colorPrimary;
    background-color: white;
}

option {
    background-color: white;
}

input:hover,
select:hover {
    background-color: @colorPrimaryLight;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 32px;
    width: 132px;
    padding-left: 10px;
    font-family: @fontPrimary;
}

span.select {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

span.select:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid @colorPrimary;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

button {
    height: 32px;
    width: 132px;
    vertical-align: top;
    border-radius: 16px;
    background-color: white;
    border: 2px solid @colorPrimary;
    color: @colorPrimary;
    font-size: 16px;
    font-family: @fontPrimary;
}

button:hover {
    background-color: @colorPrimaryLight;
}

.actionImage {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 16px 16px;
    border: 2px solid @colorPrimary;
    border-radius: 16px;
    overflow: hidden;
    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    span {
        visibility: hidden;
        display: inline-flex;
        position: absolute;
        background-color: @colorPrimaryTransparant;
        border-radius: 16px;
        font-size: 20px;
        color: white;
        width: 84%;
        height: 84%;
        margin: 8%;
        justify-content: center;
        align-items: center;
    }
}

.actionImage:hover>span {
    visibility: visible;
}

@media (hover: none) {
    .actionImage>span {
        visibility: visible;
        bottom: 0px;
        width: 100%;
        height: 25%;
        margin: 0;
        border-radius: 0;
    }
}

footer {
    height: 84px;
    background-color: #f2f2f2;
}

.split-footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    div {
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        margin-top: 12px;
        min-width: 176px;
        flex: 1 0 0;
        a.button {
            flex: 0 0 auto;
        }
    }
    div:not(:last-child) {
        border-right: 2px solid @colorPrimary;
    }
    .block_ul {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1000px) {
    .split-footer {
        div:first-child {
            justify-content: flex-start;
        }
        div:last-child {
            justify-content: flex-end;
        }
    }
}

@media screen and (max-width: 999px) {
    footer {
        height: 84px * 2px
    }
    .split-footer>div {
        height: 144px;
    }
    .split-footer>.footer-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 417px) {
    .split-footer>div {
        height: initial;
        min-width: 176px;
    }
    footer {
        height: 252px;
    }
    .split-footer>div:not(:last-child) {
        border-right: 2px solid transparent;
    }
}

a.button,
a:visited.button {
    background-color: @colorPrimary;
    text-align: center;
    border-radius: 16px;
    width: 128px;
    height: 32px;
    line-height: 32px;
    margin: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

a.button:hover {
    //color: @colorPrimaryLight;
    color: rgba(255, 255, 255, 0.75);
}

a.button.facebook,
a.button.facebook:visited {
    background-color: #4267b2;
}

a.button.twitter,
a.button.twitter:visited {
    background-color: #1da1f2;
}

a.button.youtube,
a.button.youtube:visited {
    background-color: #ff0000;
}

a.twitter:hover {
    color: @colorAltLight;
}

ul.check {
    display: inline-block;
    text-align: left;
    list-style-image: url('../img/done_icon.svg');
    font-size: 1.1em;
}

.carrousel {
    position: relative;
    border-bottom: 2px solid @colorPrimary;
    text-align: center;
    height: 400px;
}

.carrousel>.background {
    position: absolute;
    z-index: -1;
    top: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.carrousel .foto {
    width: 1000px;
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    background-position: 50%;
    transition: width 0.8s;
    @media screen and (max-width: 417px) {
        transition: width 0.4s;
    }
}

.carrousel .foto:first-child {
    width: 0px;
}

.carrousel .foto:nth-child(n+7) {
    width: 0px;
}

.carrousel>form {
    position: absolute;
    width: 100%;
    bottom: 32px - 8px;
    text-align: center;
    line-height: 40px;
}

// Becouse of the unnatural line-height the arrow margin must be corrected
.carrousel>form span.select:after {
    margin-top: -6px;
}

.contact-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    margin: 50px;
    img {
        position: left;
        height: 180px;
        width: 180px;
        margin: 16px, 16px;
        border: 2px solid @colorPrimary;
        border-radius: 16px;
        overflow: hidden;
        margin: 50px;
    }
    .contact-intro {
        align-items: center;
        margin: 50px;
        .contact-intro-header {
            font-size: 32px;
            color: @colorPrimary;
            margin-top: 0px;
        }
        .contact-intro-text {
            width: 350px;
        }
        button {
            margin-top: 10px;
        }
    }
}

#dropdown-links {
    position: absolute;
    top: 64px;
    width: 100%;
    border-bottom: 1px solid @colorPrimary;
    background-color: @colorPrimaryLight;
    z-index: 1;
    a {
        display: block;
        text-align: center;
        width: 100%;
        height: 0px;
        line-height: 48px;
        text-decoration: none;
        font-size: 18px;
        overflow: hidden;
        color: @colorPrimary;
        font-family: @fontPrimary;
        transition: height 0.25s;
        border-bottom: 0px solid @colorPrimary;
    }
}

#dropdown-links.active>a {
    height: 48px;
}

#dropdown-links.active>a:not(:last-child) {
    border-bottom: 1px solid @colorPrimary;
}

section {
    text-align: center;
    border-bottom: 2px solid @colorPrimary;
    padding: 16px 16px 48px;
}

.image-row-section .row, .card-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.card-section {
    padding: 48px 16px;
}

.row {
    text-align: left;
}

a.row {
    cursor: pointer;
}

.split-text-section{
    padding: 48px 16px;
}

.split-text-section>.row {
    overflow: hidden;

    div.image-wrapper {
        float: left;
        width: 50%;

        @media screen and (max-width: 599px) {
            display: none;
        }
        .actionImage {
            margin-left: auto;
            margin-right: 92px;
        }
    }

    .description {
        @media screen and (min-width: 600px) {
            float: right;
            width: 50%;
        }

        h2 {
            @media screen and (max-width: 599px) {
                text-align: center;
            }
            margin-bottom: 0;
        }
    }
}

.object-card {
    border: 2px solid @colorPrimary;
    overflow: hidden;
    border-radius: 16px;
    max-width: 400px;
    font-size: 0;
    margin: 16px;
    height: 200px;

    .image, .description {
        max-width: 50%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .image {
        display: inline-flex;
        justify-content: center;
        overflow: hidden;
        
        img {
            height: 100%;
        }   
    }

    .description {
        font-size: initial;
        box-sizing: border-box;
        padding: 10px;
    }
}
