body {
  margin: 0;
  font-family: 'Sanchez';
}
header {
  width: 100%;
  height: 48px;
  top: 0px;
  background-color: #0d47a1;
  color: white;
  padding: 8px 0;
  line-height: 48px;
}
#header-shaxdow {
  position: absolute;
  top: 64px;
  width: 100%;
  height: 4px;
  background: linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0));
}
nav {
  float: right;
}
nav a,
nav a:visited {
  margin: 0 8px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}
nav a:hover {
  color: #82b1ff;
}
.page-wrapper {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
#header-icon {
  margin: 0 8px;
  vertical-align: top;
  width: 48px;
  height: 48px;
  filter: invert(100%);
}
#header-title {
  font-size: 32px;
}
.block_ul {
  list-style: none;
  color: white;
  width: 100%;
  padding: 0;
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}
.block_ul li {
  background-color: #0d47a1;
  text-align: center;
  border-radius: 16px;
  width: 128px;
  height: 32px;
  line-height: 32px;
  margin: 8px;
  cursor: pointer;
}
.block_ul li:hover {
  color: #82b1ff;
}
.block_ul li:nth-child(even) {
  background-color: #0da08a;
}
.block_ul li:hover:nth-child(even) {
  color: #80ffee;
}
.carrousel {
  position: relative;
  border-bottom: 2px solid #0d47a1;
  height: 64px;
  padding-top: 336px;
  text-align: center;
}
.carrousel > .background {
  position: absolute;
  z-index: -1;
  top: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.foto-div {
  min-width: 1000px;
  height: 400px;
  background-image: url('../img/matterhorn.png');
  text-align: center;
}
input,
select {
  height: 28px;
  border-radius: 16px;
  border: 2px solid #0d47a1;
  margin: 0;
  width: 124px;
  font-size: 16px;
  padding-left: 5px;
  outline-color: transparent;
  outline-style: none;
  color: #0d47a1;
}
input:hover,
select:hover {
  background-color: #82b1ff;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  height: 32px;
  width: 132px;
  padding-left: 10px;
  font-family: 'Sanchez';
}
span.select {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
span.select:after {
  content: "";
  position: absolute;
  z-index: 2;
  right: 8px;
  top: 50%;
  margin-top: -3px;
  height: 0;
  width: 0;
  border-top: 6px solid #0d47a1;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  pointer-events: none;
}
button {
  height: 32px;
  width: 132px;
  vertical-align: top;
  border-radius: 16px;
  background-color: white;
  border: 2px solid #0d47a1;
  color: #0d47a1;
  font-size: 16px;
  font-family: 'Sanchez';
}
button:hover {
  background-color: #82b1ff;
}
.actionImage {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 32px 16px;
  border: 2px solid #0d47a1;
  border-radius: 16px;
  overflow: hidden;
}
.actionImage img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.actionImage span {
  visibility: hidden;
  display: inline-flex;
  position: absolute;
  background-color: rgba(13, 71, 161, 0.5);
  border-radius: 16px;
  font-size: 20px;
  color: white;
  width: 84%;
  height: 84%;
  margin: 8%;
  justify-content: center;
  align-items: center;
}
.actionImage:hover > span {
  visibility: visible;
}
.imageRow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 2px solid #0d47a1;
}
footer {
  height: 128px;
  background-color: #f2f2f2;
}
.split-footer {
  display: flex;
  justify-content: space-between;
}
.split-footer div {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 14px 0;
  width: 50%;
}
.split-footer div:not(:last-child) {
  border-right: 2px solid #0d47a1;
}
.split-footer .block_ul {
  display: flex;
  justify-content: center;
}
a.button,
a:visited.button {
  background-color: #0d47a1;
  text-align: center;
  border-radius: 16px;
  width: 128px;
  height: 32px;
  line-height: 32px;
  margin: 8px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
a.button:hover {
  color: #82b1ff;
}
a.twitter-button,
a.twitter-button:visited {
  background-color: #1da1f2;
}
a.twitter-button:hover {
  color: #80ffee;
}
a:not(.button) {
  color: #0d47a1;
  text-decoration: none;
}
