@import "vars";

/*=============================================
=         Common HTML Element styles          =
=============================================*/

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    font-family: @fontPrimary;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.page-wrapper {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 32px;
    color: @colorPrimary;
}

h3 {
    color: @colorPrimary;
}

a,
a:visited {
    color: @colorPrimary;
    text-decoration: none;
}

a:hover {
    color: @colorPrimaryLight;
}

a.button,
a:visited.button {
    display: inline-block;
    background-color: @colorPrimary;
    text-align: center;
    border-radius: 16px;
    width: 128px;
    height: 32px;
    line-height: 32px;
    margin: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}


/*------------  A button styles  ------------*/

a.button:hover {
    color: @colorPrimaryLight;
}

a.button.facebook,
a.button.facebook:visited {
    background-color: #4267b2;
}

a.button.twitter,
a.button.twitter:visited {
    background-color: #1da1f2;
}

a.button.youtube,
a.button.youtube:visited {
    background-color: #ff0000;
}

a.button.facebook:hover,
a.button.twitter:hover,
a.button.youtube:hover {
    color: rgba(255, 255, 255, 0.75);
}


/*---------  Checkmark list styles  ---------*/

ul {
    display: inline-block;
    text-align: left;
}

ul.check {
    list-style-image: url('../img/check-icon.svg');
}

ul.fat-check {
    list-style-image: url('../img/check-fat-icon.svg');
    font-size: 1.1em;
}

ul.fat-check li {
    margin-bottom: 0.4em;
    padding-left: 8px;
}

ul.no-decoration {
    list-style: none;
    padding-left: 0;
}


/*------------  Common wrappers  ------------*/

.image img {
    object-fit: cover;
    height: 100%;
}

.description h3 {
    margin: 8px 0;
}


/*=============================================
=                Header styles                =
=============================================*/

header {
    width: 100%;
    height: 48px;
    top: 0;
    background-color: @colorPrimary;
    color: white;
    padding: 8px 0;
    line-height: 48px;
}

header::after {
    content: '';
    position: absolute;
    top: 64px;
    width: 100%;
    height: 4px;
    background: linear-gradient(rgba(0, 0, 0, .28), rgba(0, 0, 0, 0));
}

header .page-wrapper {
    height: 48px;
}

header .icon {
    width: 48px;
    height: 48px;
    filter: brightness(0) invert(1);
}

header .icon:hover {
    filter: none;
}

.title-container h1,
.title-container .icon {
    float: left;
    margin: 0 0 0 16px;
}

.title-container h1,
.title-container:visited h1 {
    font-size: 32px;
    color: white;
    font-weight: normal;
}

.title-container:hover h1,
.title-container:hover .icon {
    color: @colorPrimaryLight;
    filter: none;
}

.icon.hamburger {
    float: right;
    cursor: pointer;
    margin: 0 16px;
    @media screen and (min-width: 700px) {
        display: none;
    }
}


/*-------  Navigation element styles  -------*/

nav a {
    text-decoration: none;
    font-size: 20px;
}

@media screen and (min-width: 700px) {
    nav {
        float: right;
        margin-right: 16px;
    }
    nav a,
    nav a:visited {
        margin: 0 8px;
        color: white;
    }
    nav a:hover {
        color: @colorPrimaryLight;
    }
}

@media screen and (max-width: 699px) {
    nav {
        position: absolute;
        top: 64px;
        width: 100%;
        border-bottom: 1px solid @colorPrimary;
        background-color: @colorPrimaryLight;
        z-index: 10;
    }
    nav a,
    nav a:visited,
    nav a:hover {
        display: block;
        text-align: center;
        width: 100%;
        height: 0;
        line-height: 48px;
        text-decoration: none;
        font-size: 18px;
        overflow: hidden;
        color: @colorPrimary;
        font-family: @fontPrimary;
        transition: height 0.25s;
        border-bottom: 0 solid @colorPrimary;
    }
    nav.active>a {
        height: 48px;
    }
    nav.active>a:not(:last-child) {
        border-bottom: 1px solid @colorPrimary;
    }
}


/*=============================================
=             Form element styles             =
=============================================*/

input,
select {
    height: 28px;
    border-radius: 16px;
    border: 2px solid @colorPrimary;
    margin: 0;
    width: 124px;
    font-size: 16px;
    padding-left: 5px;
    outline-color: transparent;
    outline-style: none;
    color: @colorPrimary;
    background-color: white;
}

input:hover,
select:hover {
    background-color: @colorPrimaryLight;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    height: 32px;
    width: 132px;
    padding-left: 10px;
    font-family: @fontPrimary;
}

option {
    background-color: white;
}

span.select {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

span.select:after {
    content: "";
    position: absolute;
    z-index: 2;
    right: 8px;
    top: 50%;
    margin-top: -3px;
    height: 0;
    width: 0;
    border-top: 6px solid @colorPrimary;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

button {
    height: 32px;
    width: 132px;
    vertical-align: top;
    border-radius: 16px;
    background-color: white;
    border: 2px solid @colorPrimary;
    color: @colorPrimary;
    font-size: 16px;
    font-family: @fontPrimary;
}

button:hover {
    background-color: @colorPrimaryLight;
}


/*=============================================
=              Component styles               =
=============================================*/


/*----------  Action image styles  ----------*/

.action-image {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 16px 16px;
    border: 2px solid @colorPrimary;
    border-radius: 16px;
    overflow: hidden;
}

.action-image img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.action-image figcaption {
    visibility: hidden;
    display: inline-flex;
    position: absolute;
    background-color: @colorPrimaryTransparant;
    border-radius: 16px;
    font-size: 20px;
    color: white;
    width: 84%;
    height: 84%;
    margin: 8%;
    justify-content: center;
    align-items: center;
}

.action-image:hover figcaption {
    visibility: visible;
}

@media (hover: none) {
    .actionImage>span {
        visibility: visible;
        bottom: 0;
        width: 100%;
        height: 25%;
        margin: 0;
        border-radius: 0;
    }
}


/*----------  Action image styles  ----------*/

.object-card,
.object-card:hover,
.object-card:visited {
    border: 2px solid @colorPrimary;
    overflow: hidden;
    border-radius: 16px;
    max-width: 400px;
    font-size: 0;
    margin: 16px;
    height: 200px;
    color: black;
}

.object-card .image,
.object-card .description {
    max-width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.object-card .image {
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.object-card .description {
    font-size: initial;
    box-sizing: border-box;
    padding: 10px;
}

.object-card .description .ul {
    height: 140px;
    overflow: hidden;
    display: block;
    margin: 0;
}

.description ul.check,
.description ul.fat-check {
    padding-left: 30px;
}


/*------------  Search bar styles -----------*/

.search-bar {
    margin: 48px auto;
    max-width: 840px;
    @media screen and (max-width: 903px) {
        max-width: 404px;
        margin: 16px auto;
    }
}

.search-bar form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4px 16px;
    background-color: #f2f2f2;
    border: 2px solid @colorPrimary;
    border-radius: 16px;
}

.search-bar span,
.search-bar button {
    margin: 4px;
}


/*=============================================
=               Section styles                =
=============================================*/

section {
    text-align: center;
    padding: 16px 16px 48px;
}

section:not(:last-of-type) {
    border-bottom: 2px solid @colorPrimary;
}

.image-row-section .row,
.card-section .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.card-section {
    padding: 48px 16px;
}

.row {
    text-align: left;
}


/*--------------  Aside Section -------------*/

.aside-section {
    padding: 48px 16px;
}

.aside-section .row {
    display: flex;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.aside-section aside {
    min-width: 236px;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
}

.aside-section article {
    flex: 2 0 0;
    margin: 0 16px;
}

@media screen and (max-width: 599px) {
    .aside-section aside,
    .aside-section article {
        width: 100%;
    }
    .aside-section article {
        text-align: center;
    }
}


/*=============================================
=             Location page styles            =
=============================================*/

.detail-container {
    display: flex;
    border: 2px solid @colorPrimary;
    margin-left: auto;
    margin-right: auto;
    border-radius: 16px;
    overflow: hidden;
    max-width: 900px;
}

.detail-container .image {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
}

.detail-container .image {
    flex: 1 1 auto;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    @media screen and (min-width: 600px) {
        min-width: 250px;
    }
    @media screen and (max-width: 599px) {
        max-height: 300px;
    }
}

.detail-container .description {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    text-align: left;
    padding: 16px;
    box-sizing: border-box;
    min-width: 250px;
}

.detail-container .description div {
    margin-bottom: 1.17em;
}

.detail-container h3:first-child {
    margin-top: 0;
}

.detail-container .button {
    position: absolute;
    bottom: 16px;
    margin-left: 50%;
    left: -75px;
}

@media screen and (max-width: 374px) {
    flex-direction: column;
    .detail-container .description div:last-of-type {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 599px) {
    .detail-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 599px) and (min-width:375px) {
    .detail-container .description div {
        width: 50%;
        margin-bottom: 64px;
    }
    .detail-container .description div:not(:first-child) {
        padding-left: 16px;
    }
}

@media screen and (min-width: 600px) {
    .detail-container {
        height: 400px;
    }
}

@media screen and (min-width: 600px),
screen and (max-width: 374px) {
    .detail-container .description {
        flex-direction: column;
    }
}

/*=============================================
=                Footer styles                =
=============================================*/

footer {
    height: 84px;
    background-color: #f2f2f2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid @colorPrimary;
}

section:last-of-type {
    padding-bottom: 116px;
}

.split-footer {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
}

.split-footer div {
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    margin-top: 12px;
    min-width: 176px;
    flex: 1 0 0;
}

.split-footer div a.button {
    flex: 0 0 auto;
}

.split-footer div:not(:last-child) {
    border-right: 2px solid @colorPrimary;
}

.split-footer .block_ul {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1000px) {
    .split-footer div:first-child {
        justify-content: flex-start;
    }
    .split-footer div:last-child {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 999px) {
    footer {
        height: 168px;
    }
    section:last-of-type {
        padding-bottom: 200px;
    }
    .split-footer>div {
        height: 144px;
    }
    .split-footer>.footer-buttons {
        flex-direction: column;
    }
}

@media screen and (max-width: 417px) {
    .split-footer>div {
        height: initial;
        min-width: 176px;
    }
    footer {
        height: 252px;
    }
    section:last-of-type {
        padding-bottom: 284px;
    }
    .split-footer>div:not(:last-child) {
        border-right: 2px solid transparent;
    }
}

/*=============================================
=              Carrousel styles               =
=============================================*/

.carrousel {
    position: relative;
    border-bottom: 2px solid @colorPrimary;
    text-align: center;
    height: 400px;
}

.carrousel .background {
    position: absolute;
    z-index: -1;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
}

.carrousel .foto {
    width: 1000px;
    height: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    background-position: 50%;
    transition: width 0.8s;
    @media screen and (max-width: 417px) {
        transition: width 0.4s;
    }
}

.carrousel .foto:first-child {
    width: 0;
}

.carrousel .foto:nth-child(n+7) {
    width: 0;
}

.carrousel form {
    position: absolute;
    width: 100%;
    bottom: 32px - 8px;
    text-align: center;
    line-height: 40px;
}

.carrousel .select:after {
    margin-top: -6px;
}

/*=============================================
=              Contact styles                 =
=============================================*/

.contact-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    padding: 6.25%;
    min-width: 250px;

    img {
        position: left;
        height: 180px;
        width: 180px;
        border: 2px solid @colorPrimary;
        border-radius: 16px;
        overflow: hidden;
        margin: 6.25%;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    .contact-intro {
        align-items: center;
        margin: 6.25%;
        .contact-intro-header {
            font-size: 32px;
            color: @colorPrimary;
            margin-top: 0;
        }
        .contact-intro-text {
            max-width: 350px;
            
        }
        button {
            margin-top: 10px;
        }
    }
}

textarea {
    height: 64px;
    border-radius: 16px;
    border: 2px solid @colorPrimary;
    margin: 0;
    width: 248px;
    font-size: 16px;
    padding-left: 5px;
    outline-color: transparent;
    outline-style: none;
    color: @colorPrimary;
    background-color: white;
}